<%- include('../partials/header') %>

<h2>Please make sure that your cheatmeal is not added in the following list:</h2>
<section id="badge-container">
  <% cheatmeals.forEach(function(c) { %>
    <article class="badge"><%= c.name %></article>
  <% }) %>
</section>

<form id="add-cheatmeal-form" action="/cheatmeals" method="POST">
  <label>Add Cheat Meal:</label>
  <input type="text" name="name">
  <label>Calories:</label>
  <input type="number" name="cal">
  <input type="submit" value="Add Cheatmeal">
</form>

<%- include('../partials/footer') %>
