<!DOCTYPE html>
<html>
  <head>
    <title>Workout Program</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/">Home</a> | 
    <a href="/workouts">All Workouts</a> | 
    <a href="/workouts/new">Add Workouts</a>
 </body>