<!DOCTYPE html>
<html>
  <head>
    <title>Workout Program</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
        <!-- <img src="/images/camera.svg"> -->
        <a href="/workouts" <%- title === 'All Workouts' ? 'class="active"' : '' %>>ALL WORKOUTS</a>
        <% if (user) { %>
          
          <a href="/workouts/new"	<%- title === 'Add Workout' ? 'class="active"' : '' %>>
            Create a Workout</a>
          <a href="/logout">LOG OUT</a>
        <% } else { %>
          <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
        <% } %>
      </nav>
 </body>