<!DOCTYPE html>
<html lang="en">
  <head>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Workout Program</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    
    <nav>
        <!-- <img src="/images/camera.svg"> -->
       
        <a href="/" <%- title === 'Home' ? 'class="active"' : '' %> >Home</a> &nbsp; &nbsp;
        <a href="/workouts" <%- title === 'All Workouts' ? 'class="active"' : '' %> >All Workouts</a> &nbsp; &nbsp;
        <% if (user) { %>
        <!-- <a href="/workouts"> </a> -->
        <a href="/workouts/new"	<%- title === 'Add Workout' ? 'class="active"' : '' %> >Create a Workout</a> &nbsp; &nbsp;
        <a href="/logout">Log out</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <h3> Welcome &nbsp; <%= user.name %></h3>

        <% } else { %>
          <a href="/auth/google" class="login">Login/Sign-up</a>
          &nbsp;
          <img src="https://i.imgur.com/FHjYyi0.png">
        <% } %>
      </nav>
 </body>