<%- include('../partials/header') %>
<table id = "list">
    <thead> 
        <tr> 
            <th> All Workouts </th>
            <!-- <input type="text" name="Workouts"> -->
        </tr>
    </thead>
    <tbody> 
        <% workouts.forEach(function(w) { %>
            <tr>
              <div>All Workouts: </div>
              <td><%= w.nameWorkout %></td>
              
            </tr>
        <% }); %>
    </tbody>
</table>
<%- include('../partials/footer') %>