<%- include('../partials/header') %>
&nbsp;
<form id="new-form" action="/workouts" method="POST">
    <label>Name of Workout: </label>
    <input type="text" name="nameWorkout">
    <label>Schedule:</label>
    <input type="datetime-local" name="scheduleYear">
    <label>Type of Workout:</label>
    <select name="typeOfWorkout">
        <option value="STRENGTH">STRENGTH</option>
        <option value="FLEXIBILITY">FLEXIBILITY</option>
        <option value="AEROBIC">AEROBIC</option>
    </select>
    <label>Targetted Body:</label>
    <input type="text" name="targetBody">
    <label>Workout:</label>
    <input type="text" name="workout">
    <label>Completed:</label>
    <input type="checkbox" value ="completed" checked>
    <input type="submit" value ="Add Workout">
</form>
<%- include('../partials/footer') %>