<%- include('./partials/header') %>
<img id = "image" src="https://i.imgur.com/Mrmngf8.jpg">
<header> <h1> Welcome! </h1> </header>  
<body>
We are here to empower YOU! <br>
Design your own fitness programs and be the best you can be! <br>
Click the "All Workouts" link to view your workouts plans. <br>
Click the "Create a Workout" link to customize your own personalized workout plans. <br>
It's time to get to WORK!  


</body>

   

<%- include('./partials/footer') %>