<%- include('./partials/header') %>

<link rel='stylesheet' href='/stylesheets/stylehome.css' />

<header> 
<h1> Welcome! </h1> 
<h2>We are here to empower <span id="color">YOU!</span>  <br>
Design your own fitness programs and be the best you can be! <br>
Click the "All Workouts" link to view your workouts plans. <br>
Click the "Create a Workout" link to customize your own personalized workout plans. <br>
It's time to get to WORK!  
</h2>
</header>  
<body> 
<br><br><br><br><br><br><br><br><br><br><br><br>
</body>

<!-- <footer>
    <a> MENU </a> &nbsp;
    <a> OFFERINGS</a> &nbsp;
<a> CONTACT </a>  &nbsp;
</footer> -->
   

<%- include('./partials/footer') %>