* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: black;
}

#image {
  max-width: 200px;
  margin-left: 800px;
  margin-top: 70px;
  box-shadow: 2px 4px 5px 4px;

}


body {
  padding: 50px;
  font: 14px "Bebas Neue", Helvetica, Arial, sans-serif;
  /* font-family: 'Bebas Neue', cursive; */
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  overflow-y: scroll;
}

nav > a{
  color: whitesmoke;
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  font-family: 'Bebas Neue', cursive;
  
}

nav > a:hover:not(.active) {
  color: brown;
  /* background-color: #424748; */
}

nav > a.active {
  color: white;
  cursor: default;
}
nav > img {
  height: 34px;
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: row;
  font-size: 25px;

  background: url(https://i.imgur.com/P2Uki6f.jpg) center no-repeat;
  background-size: cover;
}

/* .login img {
  height: 30px;
}  */

#new-form {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(1, minmax(auto, 23rem));
}

#new-form *,
#add-review-form * {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

#new-form input[type="submit"] {
  grid-column: span 2;
  width: rem;
  margin-left: auto;
}

#add-cheatmeal-form {
  font-family: 'Bebas Neue', cursive;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}

.delete-form button {
  color: blueviolet;
}