* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: white;
  background-color: #424748;
  
}

#image {
  max-width: 200px;
  margin-left: 15px;
  margin-top: 20px;
  box-shadow: 2px 4px 5px 4px;

}


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
/* nav > a , .login{
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
} */

nav > a:hover:not(.active) {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
  cursor: default;
}
nav > img {
  height: 34px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: row;
  font-size: 25px;
}

.login img {
  height: 30px;
} 

#new-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
}

#new-form *,
#add-review-form *,
#add-performer-form * {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

#new-form input[type="submit"] {
  grid-column: span 2;
  width: 10rem;
  margin-left: auto;
}